/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/124Wli0Rxp4GhOrrOijzznbnOfNC9kP8wOVZnPZsR2DE/edit?usp=sharing */
.body {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: #d98555;
    > * {
      background-color: #f2f2f2;
    }
  
    .header {
      box-sizing: border-box;
      border-bottom: 1px solid #131d26;
      height: 10%;
      width: 100%;
  
      .navigation {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        min-width: 730px;
        max-width: 800px;
  
        button {
          box-sizing: border-box;
          height: 100%;
          padding-top: 30px;
          padding-bottom: 30px;
  
          width: 175px;
          margin-left: -2px;
          margin-right: -1px;
          border-width: 0px 0px 0px 1px;
          border-style: solid;
          border-color: #131d26;
          font-variant: small-caps;
          font-size: 18px;
          
          &:hover {
            cursor: pointer;
            background-color: #59331D;
            color: #FFFFFF;
          }
  
          &:first-child {
            border-left-width: 0px;
            margin-left: 0px;
            margin-right: 0px;
            background-color: #F2F2F2;
            &:hover {
              background-color: #F2F2F2;
            }
          }
          
          &:last-child {
            border-right-width: 1px;
          }
        }
  
        .logo {
          box-sizing: border-box;
          display: inline-block;
          vertical-align: middle;
          
          padding: 0px;
  
          img {
            width: 75%;
          }
        }
      }
    }
  
    .content {
      display: block;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
  
      .img-section {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: sub;
        max-width: 20%;
        min-width: fit-content;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 18px;
        
        img {
          box-sizing: border-box;
          height: 250px;
          border: 1px solid black;
        }
      }
  
      .about-us-content {
        display: inline-block;
        vertical-align: top;
        position: relative;
        box-sizing: border-box;
        padding: 25px;
        margin-left: 3%;
        height: 100%;
        min-height: inherit;
        width: 75%;
        max-width: 79%;
        
        a, a:link, a:visited, a:active {
          text-decoration: none;
          color: #131D26;
          &:hover {
            color: #082B59;
          }
        }
  
        .button {
          border: 1px solid black;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-top: 5px;
          width: 20%;
  
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-variant: small-caps;
          font-size: 18px;
  
          &:hover {
            cursor: pointer;
            background-color: #59331D;
            color: #FFFFFF;
          }
        }
  
        h1,
        .big-text {
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-size: 25px;
        }
  
        .big-text {
          border: 1px solid #d98555;
          text-align: center;
          font-style: italic;
  
          margin-top: 10px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
  
        h1 {
          margin-top: 0px;
        }
      }
    }
  
    .footer {
      width: 100%;
      padding-left: 20px;
      box-sizing: border-box;
      padding-bottom: 20px;
  
      span.social-media-footer-section {
        padding-left: 20px;
        
        a, a:link, a:visited, a:active {
          color: #131D26;
          text-decoration: none;
          &:hover {
            color: #082B59;
          }
          
          padding-right: 10px;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
    }
  }
  