.body {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: #d98555;

  > * {
    background-color: #f2f2f2;
  }

  /* Set up mobile compatibility */
  @media only screen and (max-width: 992px) {
    button.desktop {
      display: none;
    }

    button.mobile {
      visibility: visible;
    }
  }

  @media only screen and (min-width: 992px) {
    button.desktop {
      visibility: visible;
    }

    button.mobile {
      display: none;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: left;
    box-sizing: border-box;
    border-bottom: 1px solid #131d26;
    height: 10%;
    width: 100%;

    .navigation {
      box-sizing: border-box;
      /*
        display: inline-block;
        vertical-align: middle;
      */
      display: flex;
      align-items: center;

      /*
        width: 40%;
        min-width: 730px;
        max-width: 800px;
      */
      @media only screen and (max-width: 992px) {
        width: 100%;
        justify-content: space-between;
      }

      button {
        box-sizing: border-box;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;

        width: 175px;
        margin-left: -2px;
        margin-right: -1px;
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-color: #131d26;
        font-variant: small-caps;
        font-size: 18px;

        &:hover {
          cursor: pointer;
          background-color: #59331d;
          color: #ffffff;
        }

        &:first-child {
          border-left-width: 0px;
          margin-left: 0px;
          margin-right: 0px;
          background-color: #f2f2f2;

          &:hover {
            background-color: #f2f2f2;
          }
        }

        &:last-child {
          border-right-width: 1px;
        }

        /*
            @media only screen and (max-width: 992px) {
              padding: 0px;
              margin: 0px;
              background-color: #f2f2f2;
              color: #000000;
              &:hover {
                background-color: #f2f2f2;
                color: #000000;
              }
    
              &.menu {
                img {
                  background-image: url(./images/menu_50dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg);
                }
    
                &:hover {
                  img {
                    background-image: url(./images/menu_50dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg);
                  }
                }
              }
            }
            */
      }

      .logo {
        box-sizing: border-box;
        /*
            display: inline-block;
            vertical-align: middle;
            */
        display: flex;
        padding: 0px;

        img {
          width: 75%;
        }
      }

      .mobile {
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
      }
    }
  }

  .content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (min-width: 992px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      height: 100%;
      min-height: inherit;

      @media only screen and (max-width: 992px) {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      }

      @media only screen and (min-width: 992px) {
        padding: 25px;
        margin-left: 3%;
        width: 75%;
        max-width: 79%;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0px;
      }

      .button {
        border: 1px solid black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 5px;
        /*width: 20%;*/
        width: 200px;

        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 18px;

        /*@media only screen and (max-width: 992px) {*/
          background-color: #f2f2f2;
          color: #000000;
        /*}*/
        &:hover {
          cursor: pointer;
        }

        @media only screen and (min-width: 992px) {
          &:hover {
            background-color: #59331d;
            color: #ffffff;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    /*padding-bottom: 20px;*/

    .social-media-footer-section {
      padding-left: 20px;

      a,
      a:link,
      a:visited,
      a:active {
        color: #131d26;
        text-decoration: none;

        &:hover {
          color: #082b59;
        }

        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }

    .footer-image {
      display: flex;
      box-sizing: border-box;
      height: 240px;
      width: 100%;
      overflow: hidden;
      background-image: url("../images/gulp-bottom-beans.jpg");
      background-repeat: repeat-x;
    }
  }
}
